body {
  margin: 0;
  height: 100vh;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* big background */
.bg {
  position: fixed;
  inset: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj6h62Us7ytob0J6W865sd58mifvE-EeiVjNGbf_eC4oMn1e31Z8BPbwaagcAt6x7zPvdDmlD5kwGL_LZGcJI4tCNUL31xhmSigKzvvSmFcom8W7MXaJdka2cZ7Vo5S76uphkK2FFR61Ym_2cM2dPe7LZ98kf-2sNF9DgxGWMqOv9Z2_C3ryt2VHHEsj39H/s1280/background_signup.jpg") no-repeat center/cover;
  z-index: -2;
}

/* mint outer frame */
.frame {
  backdrop-filter: blur(2px);
    width: 1300px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
  width: 1000px;
  height: 600px;
  background: rgba(255,255,255,0.9);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* left panel */
.left {
  width: 45%;
  position: relative;
  overflow: hidden;
}

.art {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* extra decorative image */
.decor {
  position: absolute;
  bottom: -20px;
  left: -30px;
  width: 180px;
  opacity: 0.6;
}

.right.full {
  width: 100%;
  padding: 50px;
  overflow-y: auto;
}
h2 {
  color: #1fb5a9;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg,#1fb5a9,#33d1c4);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 12px;
  color: #1fb5a9;
  text-decoration: none;
}
